#album {
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.album_content {
  height: 70vh;
  width: 500px;
}

#vinyl {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

#disc {
  position: absolute;
  top: 0;
  z-index: -1;

  transition: top 0.4s ease;
}

#vinyl:hover #disc {
  top: -50px;
  animation: spin 2s linear infinite;
}

#songs {
  overflow: auto;
  /* Esconder barra de scroll, en el contendor de iframes*/
  scrollbar-width: none;
  -ms-overflow-style: none;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
