header {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;

  display: flex;
  justify-content: space-between;
  padding: 32px;
  z-index: 9999;
}

a {
  display: inline-block;
  cursor: pointer;
}

#social_media {
  display: flex;
  flex-direction: column;
  gap: 18px;

  transition: opacity 0.3s ease;
}

#social_media a:hover {
  transform: scale(1.2);
  transition: transform 0.2s ease;
}

/* Estilos del menu hamburguesa */
#burger_menu {
  background-color: var(--primary-gray);
  height: 100vh;
  width: 100vw;
  position: fixed;
  right: -100vw;
  transition: right 1s ease-in-out;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 32px;
  z-index: 999;
}

#burger_menu:target {
  right: 0;
}

/* Control de botones según el menú esté abierto o cerrado */
#close {
  display: none;
}

#burger_menu:target ~ header nav #open {
  display: none;
}

/* Esconder iconos de redes sociales, cuando el menú está abierto */
#burger_menu:target ~ header #social_media {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

#burger_menu:target ~ header nav #close {
  display: inline-block;
}

/* Estilos para cada item del menú */
.menu_item {
  display: flex;
  font-size: 3rem;
  text-transform: uppercase;

  transform: translateX(50px) scale(1);
  transition: all 0.3s ease;
  opacity: 0;
}

.menu_item:hover {
  font-size: 4rem;
}

/* Efecto para que los items aparezcan de a uno */
#burger_menu:target .menu_item {
  animation: slideIn 0.5s ease forwards;
}

#burger_menu:target .menu_item:nth-child(1) {
  animation-delay: 0.8s;
}

#burger_menu:target .menu_item:nth-child(2) {
  animation-delay: 0.9s;
}

#burger_menu:target .menu_item:nth-child(3) {
  animation-delay: 1s;
}

@keyframes slideIn {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
