@font-face {
  font-family: "PlayDayStencil";
  src: url("../assets/fonts/PlayDayStencil.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AntonSC";
  src: url("../assets/fonts/AntonSC-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url("../assets/fonts/Helvetica.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url("../assets/fonts/Helvetica-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

:root {
  --primary-pink: #ec97b6;
  --primary-gray: #292e25;
}

* {
  margin: 0;
  padding: 0;
  letter-spacing: 2px;
  box-sizing: border-box;
}

body {
  font-family: "AntonSC", sans-serif;
  background-color: #292e25;
  color: #ffffff;
}

h1 {
  font-family: "PlayDayStencil", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: var(--primary-gray);
}

::-webkit-scrollbar-thumb {
  background-color: #000000; 
  border-radius: 0px; 
  border: 0px;
}